.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  /* background-color: black; */
  color: white;
  font-size: xx-large;
  display: flex;
  gap: 5px;
  padding: 22px;
  
}
.nav-links a{
   text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.p-dataview-layout-options button {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  padding: 0;
  background-color: #e0e0e0;
  color: black;
  border: none;
  margin: 0 4px;
}
.p-dataview-layout-options button.p-highlight {
  background-color: #2196f3;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
  color: #000000;
}

.logo img {
  width: 120px;
  height: auto;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #2e2d2e;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #7a7a7b; /* גוון תכלת / סגול בהיר כשעוברים עם העכבר */
}
.nav-links a i {
  font-size: 1.5rem;
}
.category-bar {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  background-color: #ffffff;
  padding: 1rem 0;
   font-size: 1.5rem; /* היה 1.1rem */
  font-weight: 700; 
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  font-family: 'Assistant', sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.category-bar a {
  color: #000000;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s;
  font-size: 21px;
}

.category-bar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #4a277a;
  transition: width 0.3s;
}

.category-bar a:hover {
  color: #222;
}

.category-bar a:hover::after {
  width: 100%;
}
